#title{
	  position:relative;
	  padding: 0; margin: 40px;
	  overflow: hidden;
	  font-family: 'LiHei Pro', sans-serif;
	  font-weight: 100;
	  font-size: 40px;
	  letter-spacing: -0.02em;
	  color: #8E44AD; width: 100%;
	  text-align: center;	
}

body {
	text-align: center;
	position: relative;
	background-color: #fff7f7;
	color: #3d4970;
}

#card_container {
	display: inline-block;
	width: 620px;
	margin: auto;
	vertical-align: top;
} 

.card {
	display: inline-block;
	height: 120px;
	width: 120px;
	margin: 4px;
	box-shadow: -1px 1px 3px rgba(0,0,0,0.2);
}

